body{
    background: #bbe4e9;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    background: #fcfefe;
    margin: auto;
    height: 640px;
    width: 640px;
    
}

.row { 
    flex: 1;
    display: flex;
    
}
.column {
    flex: 1;
}
.btn {
    margin: 30px;
    padding: 8px 10px;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
    border: none;
    background: #132743;
    color: #bbe4e9;
}
